footer h6 {
  color: rgb(234, 232, 232);
}

footer .list-group-item {
  padding: 0.5rem 0;
}

.header {
  color: rgb(211, 214, 217);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  place-content: center;
}
