.form-parent {
  width: 500px;
  height: 500px;
  display: grid;
  place-items: center;
}

.Form-Register {
  background-color: rgba(255, 255, 255, 0.55);
  padding: 20px;
  border-radius: 5px;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  color: rgb(14, 62, 123);
  width: 290px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
  /* overflow: hidden; */
  white-space: nowrap;
  animation: typing 2s steps(200) infinite alternate-reverse;
}

.register-link-container {
  display: flex;
  margin-top: 15px;
}
.register-link {
  color: rgb(250, 0, 0);
}

.pasword-reset-link-container {
  display: flex;
  margin-top: 5px;
}
.pasword-reset-link {
  color: rgb(250, 0, 0);
}

p {
  margin-right: 5px;
}

/* #header {
  animation: typing 2s steps(20) infinite alternate-reverse;
} */

@keyframes typing {
  from {
    width: -20%; /* Start with no width */
  }
  to {
    width: 20%; /* Expand to full width */
  }
}
