.title {
  font-family: "Montserrat", sans-serif;
  color: rgb(7, 74, 130);
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  place-content: center;
}

.navbar {
  background-color: beige;
}

.list-name > *:hover {
  color: #f00 !important;
  text-decoration: underline;
}

.count-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .title {
    font-size: 18px; /* Adjust title size for smaller screens */
  }

  .list-name {
    display: flex;
    flex-direction: column; /* Stack navigation items */
    align-items: center;
  }

  .count-badge {
    font-size: 10px; /* Smaller font size for badges */
    padding: 3px 8px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 16px; /* Further reduce title size for very small screens */
  }

  .navbar {
    padding: 10px; /* Adjust padding for very small screens */
  }

  .list-name > * {
    margin: 5px 0; /* Add spacing between items */
  }
}
