.title {
  font-family: "Montserrat", sans-serif;
  color: rgb(7, 74, 130);
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  place-content: center;
}

.navbar {
  background-color: beige;
}

.list-name > *:hover {
  color: #f00 !important;
  text-decoration: underline;
}

.count-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  margin-left: 10px;
}
