.form-parent {
  width: 500px;
  height: 500px;
  display: grid;
  place-items: center;
}

.Form-Register {
  background-color: rgb(160, 227, 160);
  padding: 20px;
  border-radius: 5px;
}

h1 {
  color: rgb(11, 91, 11);
}
